/* MAIN STYLES */ 
:root {
  --primary: #4A22EA;
  --primary-dark: #3713C6;
  --primary-light: #F0EDFD;
  --light: #B8B8B8;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h1 {
  font-family: 'Alike', serif;
  font-size: 4.5em;
  font-weight: 400;

  color: white;
}

h2 {
  font-family: 'Alike', serif;
  font-size: 4.5em;
  font-weight: 400;
}

h3 {
  font-family: 'Alike', serif;
  font-weight: 400;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;

  text-align: center;

  margin-bottom: 0.5em;
}

h5 {
  font-family: monospace;
  font-weight: 400;
  font-size: 1em;

  text-align: center;

  padding: 0;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;

  color: white;

  padding: 3% 0;
}

button {
  font-family: 'Alike', serif;
  font-size: 1.5em;

  background-color: white;
  color: black;

  padding: 2% 5%;

  min-width: 200px;
  min-height: 50px;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  outline: none;

  transition: box-shadow 0.25s;
}

button:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

  transition: box-shadow 0.25s;
}

header,
section,
footer {
  padding: 5% 10%;
}

header {
  background-color: var(--primary);

  height: 75vh;
}

footer {
  background-color: var(--primary-dark);

}

header img {
  position: absolute;

  top: -5vh;
  right: 2%;
}

label {
  font-family: 'Roboto', sans-serif;
}

/* GENERAL SECTIONS */ 
#philosophy, #animals {
  background-color: var(--primary);
  color: white;
}

#philosophy {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* ORDER SECTION */
#order button {
  display: block;

  background-color: var(--primary);
  color: white; 

  padding: 3% 5%;
  margin-left: auto;  
  margin-right: auto;  
  margin-top: 5%;
}

/* PROCESS SECTION */
process-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

process-keyboard,
process-printer,
process-fold,
process-ship {
  display: inline-block;

  text-align: center;
}

/* PHILOSOPHY SECTION */
quote {
  display: block;

  font-size: 3em;

  padding-left: 2.5%;

  border-left: 0.2em solid white;
}

/* ORDER SECTION */
order-labels {
  display: flex;

  justify-content: space-between;
}


order-labels label:nth-child(2) {
  color: var(--light);
}

#message {
  resize: none;
  outline: none;

  width: 95%; 

  padding: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 5%;

  border: 0.25em solid var(--primary);
  
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;

  line-height: 1.5em;
}

origami-types {
  display: flex;

  justify-content: space-between;

  flex-wrap: wrap;

}

origami-type {
  margin-top: 2.5%;
  padding: 5%;

  text-align: center;

  border-radius: 0.5em;
}

origami-type.selected {
  background-color: var(--primary-light);
}

origami-type.selected h5 {
  color: var(--primary);
}

/* ANIMAL SECTION */
animal-row {
  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;

  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

/* FOOTER SECTION */
footer {
  display: flex;

  flex-wrap: wrap;
}

footer footer-section:first-child {
  flex: 3;
}

footer footer-section {
  display: block;

  flex: 1;

  margin-right: 5%;
}

footer h1 {
  font-size: 2.25em;
}

footer h3 {
  color: white;

  font-weight: 400;
}

footer a {
  display: block;

  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;

  color: white;

  opacity: 0.4;

  text-decoration: none;

  margin-top: 10%;
  margin-bottom: 10%;

  transition: opacity 0.25s;
}

footer a:hover {
  opacity: 0.8;

  transition: opacity 0.25s;
}

.faded {
  opacity: 0.4;

  font-size: 1em;
}

copyright-text {
  display: block;

  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;

  color: white;

  opacity: 0.4;
  
  margin-top: 5em;
}

social-icons {
  display: block;

  margin-top: 2.5em;
}

social-icon {
  margin-right: 2.5em;
}

social-icon img {
  opacity: 0.5;
  
  cursor: pointer;

  transition: all 0.5s; 
}

social-icon img:hover  {
  opacity: 1;
  transform: rotate(15deg); 
}


/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {
  body {
    font-size: 12px;
  }

  header img {
    width: 50%;
    min-width: 300px;
  }

  origami-type img {
    height: 120px;
  }

  animal-row img {
    height: 100px;
    width: 100px;
  } 

  button {
    min-height: 75px;  
  }

  social-icon img {
    width: 25px;
    height: 25px;

    padding-top: 15px;
    padding-bottom: 15px;

    display: inline-block;
  }
}

@media screen and (max-width: 720px) {
  body {
    font-size: 10px;
  }

  header img {
    width: 75%;
    right: -150px;
  }

  #order label[for="origami"] {
    margin-top: 25px;
  }

  origami-type img {
    height: 65px;
  }

  animal-row img {
    height: 64px;
    width: 64px;
  } 

  social-icon img {
    width: 15px;
    height: 15px;
  }



  process-container {
    align-items: flex-end;
  } 

  process-keyboard img,
  process-printer img,
  process-fold img,
  process-ship img{
    width: 75px;
  }

  process-arrow {
    display: none;
  }

  button {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 400px) {
  html, body {
    font-size: 8px;
  }

  animal-row img {
    height: 50px;
    width: 50px;
  } 

  process-keyboard img,
  process-printer img,
  process-fold img,
  process-ship img{
    width: 50px;
  }
}
