:root {
  --primary: #4A22EA;
  --primary-dark: #3713C6;
  --primary-light: #F0EDFD;
  --light: #B8B8B8;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Alike', serif;
  font-size: 4.5em;
  font-weight: 400;

  color: white;
}

h2 {
  font-family: 'Alike', serif;
  font-size: 4.5em;
  font-weight: 400;
}

h3 {
  font-family: 'Alike', serif;
  font-weight: 400;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;

  text-align: center;

  margin-bottom: 0.5em;
}

h5 {
  font-family: monospace;
  font-weight: 400;
  font-size: 1em;

  text-align: center;

  padding: 0;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;

  color: white;

  padding: 3% 0;
}

button {
  font-family: 'Alike', serif;
  font-size: 1.5em;

  background-color: white;
  color: black;

  padding: 2% 5%;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

header,
section,
footer {
  padding: 5% 10%;
}

header {
  background-color: var(--primary);

  height: 75vh;
}

footer {
  background-color: var(--primary-dark);

}

header img {
  position: absolute;

  top: -5vh;
  right: 2%;
}

#philosophy, #animals {
  background-color: var(--primary);
  color: white;
}

#philosophy {
  padding-top: 10%;
  padding-bottom: 10%;
}

#order button {
  background-color: var(--primary);

  color: white; 

  padding-top: 3.5%;
  padding-bottom: 3.5%;
  padding-left: 5%;
  padding-right: 5%;

  margin: 0 auto;
}

process-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

process-keyboard,
process-printer,
process-fold,
process-ship {
  display: inline-block;

  text-align: center;
}

quote {
  display: block;

  font-size: 3em;

  padding-left: 2.5%;

  border-left: 0.2em solid white;
}

order-labels {
  display: flex;

  justify-content: space-between;
}

label {
  font-family: 'Roboto', sans-serif;
}

order-labels label:nth-child(2) {
  color: var(--light);
}

#message {
  resize: none;
  outline: none;

  width: 95%; 

  padding: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 5%;

  border: 0.25em solid var(--primary);
  
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;

  line-height: 1.5em;
}

origami-types {
  display: flex;

  justify-content: space-between;

  padding-top: 2.5%;
}

origami-type {
  padding: 5%;

  border-radius: 0.5em;
}

origami-type:first-child {
  background-color: var(--primary-light);
}

origami-type:first-child h5 {
  color: var(--primary);
}

animal-row {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
